name: MazdaInnovatorsProgram
on:
  push:
    branches: [ "main" ]

jobs:
  test:
    runs-on: ubuntu-latest
    steps:

    - name: Check out repository code
      uses: actions/checkout@v6

    - name: Check current directory and its contents
      run: |
        pwd
        ls -al

    - name: Move to test directory
      run: |
        cd tests
        pwd
        ls -al
        echo "processing done."
