name: MazdaInnovatorsProgram
on:
  push:
    branches: [ "main" ]

jobs:
  test:
    runs-on: ubuntu-latest
    steps:

    - name: Check out repository code
      uses: actions/checkout@v6

    - name: Clean up old reports
      run: |
        rm -f report.zip

    - name: zip report file
      run: |
        cd tests
        zip ../report.zip report.xml
        cd ../
        ls -al

    - name: upload test result
      run: >
        curl -F 'configuration={
        "testConfigurationId":"1026147",
        "testCaseTrackerId":"114008",
        "testCaseId":"1026145",
        "releaseId":"",
        "testRunTrackerId":"114003",
        "buildIdentifier":"Build123",
        "defaultPackagePrefix":""}'
        -F 'file=@report.zip'
        https://pp-2601022022fx.portal.ptc.io:9443/cb/rest/xunitresults/
        -u myne:myne
    - name: complete
      run: echo "upload completed."
